# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribuição / empacotamento
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/

# PyInstaller
*.manifest
*.spec

# Testes
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Database
sono.db
*.sqlite3
users.db
sono_backup.db